/* estilizacao input */
.section_input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10rem;
}

.input_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 10rem;
}

.label-input {
    margin: 2rem 0 1rem 0;
    font-size: 25px;
    font-weight: 700;
    color: grey;
}

.input {
    width: 80%;
    height: 50%;
    border: 2px solid var(--cor-da-empresa);
    border-radius: 24px;
    margin-bottom: 2rem;
    padding: 1rem 1rem 1rem 5rem;
    font-size: 18px;
}

#input_foto {
    width: 100%;
    padding-left: 20rem;
}

.btn {
    cursor: pointer;
    scale: 1.2;
    width: 200px;
    margin: 2rem;
    border: 2px solid var(--cor-da-empresa);
    border-radius: 24px;
    padding: 1rem;
    font-size: 18px;
    background-color: var(--cor-da-empresa);
    color: white;
    transition: 0.5s;
}

.btn:hover {
    transform: scale(1.1);
    background-color: var(--cor-da-empresa-escuro);
    transition: 0.5s;
}

@media screen and (max-width: 480px) {
    .section_input {
        margin-left: 2rem;
    }

    .input {
        padding: 1rem 1rem 1rem 2rem;
        width: 75%;
    }

    .input_container {
        padding-right: 1rem;
    }
}