/* estilizacao da seção input */

.section_input {
    display: flex;
    flex-direction: row;
}

.input_container {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.label-input {
    margin: 2rem 0 1rem 0;
    font-size: 25px;
    font-weight: 700;
    color: grey;
}

.input_text {
    width: 40%;
    border: 2px solid var(--cor-da-empresa);
    border-radius: 24px;
    padding: 1rem;
    font-size: 18px;
}

#btn_logar {
    margin-top: 4rem;
    width: 30%;
    padding: 1.5rem;
    margin-left: 4rem;
    background-color: var(--cor-da-empresa);
    border: 2px solid var(--cor-da-empresa);
    border-radius: 24px;
    font-size: 24px;
    font-weight: 700;
    color: var(--background-clean);
    transition: 0.5s;
    cursor: pointer;
}

#btn_logar:hover {
    transition: 0.5s;
    transform: scale(1.1);
    background-color: var(--cor-da-empresa-escuro);
}