.container_box {
    width: 80%;
    height: 400px;
    margin: 4rem auto;
    border: 4px solid var(--cor-da-empresa);
    border-radius: 20px;
    background-color: var(--cor-da-empresa);
}

.imagem {
    width: 320px;
    height: 320px;
}

.box {
    width: 320px;
    height: 320px;
    margin: 2rem 2rem 2rem 5rem;
    border: 2px solid antiquewhite;
    border-radius: 20px;
    background-color: antiquewhite;
}

.dados {
    float: right;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 300px;
    margin: 2rem 1rem 2rem 1rem;
    color: var(--cor-da-empresa);
    font-size: 20px;
}

.titulo-prod {
    color: antiquewhite;
    font-size: 40px;
}

.container_fav {
    display: flex;
    justify-content: flex-end;
}

.btn-fav {
    cursor: pointer;
    width: 7%;
    border: none;
    background-color: transparent;
    transition: 0.5s;
}

.btn-fav:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

i.bi-heart-fill {
    color: antiquewhite;
    font-size: 30px;
    margin-right: 3rem;
    transition: 0.5s;
}

i.red {
    color: rgb(121, 0, 0);
}

.container_dados {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 2rem;
}

.etiqueta {
    display: flex;
    color: black;
    font-size: 35px;
    
}

.preco {
    margin-left: 1rem;
}

.btn-addcarrinho-container {
    margin-top: 5rem;
}

.btn-addcarrinho {
    cursor: pointer;
    border: 3px solid antiquewhite;
    border-radius: 20px;
    background-color: transparent;
    padding: 1rem;
    scale: 1.5;
    font-size: 15px;
    color: antiquewhite;
    transition: 0.5s;
}

.bi-cart-plus {
    margin: 0 1rem;
    font-size: 20px;
}

.btn-addcarrinho:hover {
    color: var(--cor-da-empresa);
    background-color: antiquewhite;
    transform: scale(1.1);
    transition: 0.5s;
}

/* parte responsiva */

@media screen and (max-width: 480px) {
    .container_box {
        margin: auto;
        margin-top: 1.5rem;
    }
    .box {
        margin: auto;
        margin-top: 1rem;
        width: 220px;
        height: 220px;
    }

    .imagem {
        width: 200px;
        height: 200px;
        margin: 0.5rem;
    }

    .container_fav {
        display: none;
    }

    .titulo-prod {
        display: none;
    }

    .dados {
        display: none;
    }

    .btn-addcarrinho-container {
        display: none;
    }
}